@use "./colors.scss" as colors;
@use "./mixins.scss" as mixins;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%); 
  font-family: sans-serif;
  font-size: 1.6rem;
}

.app {
  min-height: 100vh;
  position: relative;

  &__wrapper {
    width: 96%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 3em 2em;
    color: colors.$light;
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    border: 2px solid rgba(255, 255, 255, .18);
    border-radius: 8px;
    box-shadow: 0 8px 32px 0 colors.$dark;
    transform: translate(-50%, -50%);
  }

  &__header {
    margin-bottom: 2em;

    &-logo {
      margin-bottom: 1.5em;
    }
  }

  &__body {
    &-container {
      margin-bottom: 1.5em;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-label, &-input, &-select {
      font-size: 1.8rem;
    }

    &-label {
      margin-bottom: .5em;
    }

    &-select,
    &-swap-button {
      cursor: pointer;
    }

    &-input, &-select {
      @include mixins.buttonAndInputStyles(colors.$gradient, colors.$light);
      border: 2px solid colors.$light;
    }

    &-swap-button {
      width: 60px;
      height: 60px;
      margin: 3em auto 1em;
      padding-top: 1em;
      padding-bottom: .8em;
      background: colors.$gradient;
      border: 2px solid colors.$light;
      border-radius: 50%;

      &-icon {
        width: 30px;
      }
    }

    &-convert-button, &-result {
      @include mixins.buttonAndInputStyles(colors.$light, colors.$dark);
      font-size: 2rem;
      line-height: 1;
    }

    &-convert-button {
      cursor: pointer;
    }

    &-result {
      padding: 1.5em;
      background: linear-gradient(135deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
      color: colors.$light;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    text-align: center;
  }
}